################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BDAnimationModules/.vs/BDAnimationModules
/BDAnimationModules/obj
/BDAnimationModules/bin/Debug
/BDAnimationModules/bin/Release/Vectrosity.dll
/BDAnimationModules/bin/Release/UnityEngine.xml
/BDAnimationModules/bin/Release/UnityEngine.UI.dll
/BDAnimationModules/bin/Release/UnityEngine.dll
/BDAnimationModules/bin/Release/TrackIRUnity.dll
/BDAnimationModules/bin/Release/TDx.TDxInput.dll
/BDAnimationModules/bin/Release/SaveUpgradePipeline.Core.dll
/BDAnimationModules/bin/Release/Mono.Security.dll
/BDAnimationModules/bin/Release/Mono.Cecil.dll
/BDAnimationModules/bin/Release/KSPUtil.dll
/BDAnimationModules/bin/Release/KSPAssets.dll
/BDAnimationModules/bin/Release/Assembly-CSharp.dll
/BDAnimationModules/bin/Release/Assembly-CSharp-firstpass.dll
